

.box {
    align-self: flex-end;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.bounce-2 {
    animation-name: bounce-2;
    animation-timing-function: ease;
}
@keyframes bounce-2 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}
